ion-card-content{
    border-radius: 5px;
    background-color:#ffffff;
    color: #00995D;
    font-size: 20px;
    box-shadow: 2px 6px;
    padding: 5px;
}

ion-row ion-col{
    margin: auto;
}
    