ion-card-content{
    border-radius: 5px;
    background-color:#ffffff;
    border-radius: 5px;  
    padding: 5px;
}

ion-card{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #cfd3d6;  
    font-size: 12px;
}