.navbarHeader{
    --background: #00995D;
    --color: #ffffff;
    height: 60px;
}

ion-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

ion-header i{
    font-size: 16px;
}

ion-segment{
    --background: #006B3E;
    height: 48px;
    font-size: 11px;
}

ion-segment ion-segment-button{
    --color: #00BB6C;
}

.segment-button-checked{
    --background-checked: #006B3E;
    --color-checked: #ffffff;
    font-weight: bold;
    border-bottom: 3px solid #BED700;
}

ion-text h1{
    font-weight: lighter;
    color: #5B5C65;
    font-size: 13px;
}

ion-content{
    --background: #F2F2F2;
}

ion-card-content{
    border-radius: 5px;
    box-shadow: 2px 6px;
    color: #00995D;
    font-size: 20px;
}

ion-row ion-col{
margin: auto;
}

ion-input{
    -webkit-appearance: none;
}